<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.litlgroup.litl">

    <uses-feature android:name="android.hardware.camera" />

    <permission android:name="android.permission.CAMERA" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.LitlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.WallActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TaskDetailActivity"
            android:parentActivityName=".activities.WallActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BidSelectScreenActivity" />
        <activity android:name=".activities.CreateTaskActivity" />
        <activity
            android:name=".activities.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.MediaFullScreenActivity"

            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>